:root{
    --primary-color: #c72030;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: Open Sans;
    height: 100vh;
}

#page {
    width: 70vw;
    max-width: 1400px;
    margin: 0 auto;
}

#wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 100px;
    height: 100px;
}

header ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

header ul a {
    text-decoration: none;
    color: #000;
    font-weight: lighter;

    transition: 0.3s;
}

header ul a:hover {
    color: var(--primary-color);
}

.hero {
    width: 100%;
    height: 800px;

    padding: 81px;

    background-color: var(--primary-color);
    border-radius: 100px;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../assets/hero.png");
    background-blend-mode: multiply;
}

.hero .hero-cta h1 {
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 42px;
}

.hero .hero-cta p {
    width: 600px;
    margin: 10px 0px;

    font-size: 20px;
}

.hero button {
    width: 200px;
    background-color: #fff;
    height: 60px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
    margin-top: 24px;
}

.metricas {
    position: absolute;
    max-width: 1100px;
    top: 900px;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    height: 200px;
    background: #ffffff;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 0px 0px 5px #00000041;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.metricas div h3 {
    color: var(--primary-color);
    font-size: 40px;
    font-weight: bolder;
}

.metricas div p {
    font-size: 18px;
    color: #aeaeae;
    font-weight: lighter;
}

.importancia {
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.importancia div{
    width: 45%;

    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.importancia div h2 {
    font-size: 44px;
    font-family: Montserrat;
    margin-bottom: 40px;
}

.importancia div:nth-child(1) p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #666666;
}

.importancia div:nth-child(2) p {
    color: #c72030;
    font-size: 18px;
    margin: 60px;
    border-left: 4px solid var(--primary-color);
    padding: 20px;
}

.importancia div:nth-child(2) p b {
    text-decoration: underline;
}

.metas {
    background-color: var(--primary-color);
    color: #fff;

    padding: 20px 81px;
    border-radius: 44px;
}

.top, .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.top div, .bottom div {
    width: 45%;
}

.top {
    margin-bottom: 40px;
}

.top div {
    margin: auto 0;
}

.top div h2 {
    font-size: 75px;
}

.top div p {
    font-size: 20px;
    font-weight: lighter;
}

.bottom div p {
    margin: 20px 0px;
    font-weight: bold;
}

.mundo, .brasil, .impactos {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;

}

.mundo div {
    width: 45%;
    overflow: hidden;
}

h2 {
    font-family: Montserrat;
    font-size: 44px;
    margin-bottom: 24px;
}

.mundo div p, .brasil-info p, .impactos p {
    font-size: 18px;
    font-weight: lighter;
    margin: 10px 0;
}

.mundo .card {
    width: 100%;
    height: 150px;
    background-color: var(--primary-color);
    margin: 24px 0;
    color: #fff;
    padding: 24px;
    display: flex;
    align-items: center;
}

.mundo .card b {
    font-size: 85px;
    font-family: Montserrat;
    margin: 20px;
}

footer {
    width: 100%;

    background-color: #c72030;

    padding: 40px 15%;

    display: flex;
    justify-content: space-between;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div img {
    width: 100px;
}


footer div ul li{
    list-style: none;
    margin-bottom: 25px;
}

footer div ul a {
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 700;
    color: #fff;
    font-size: 20px;

    outline: none;

    transition: 400ms color;
}

footer div ul a:hover {
    color: #000000;
}

footer h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
}

.brasil {
    align-items: center;
}

.brasil div {
    position: relative;
    max-width: 45%;
    overflow: hidden;
}

.cards {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 22px;
    padding: 25px 0;
}

.card-info {
    background-color: #c72030;
    width: 50%;
    padding: 20px;
}

.card-info p {
    font-weight: bold;
    color: #fff;
}

.topicos {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.topicos div{
    width: 45%;
}

.impactos ul li {
    margin-top: 58px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    list-style-type: none;
}

.topicos .img {
    margin-top: 58px;
    background-image: url("https://images.unsplash.com/photo-1577896851231-70ef18881754?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470");
    background-position: 70%;
    background-repeat: no-repeat;
}

.logo-footer {
    animation: pulse 3s steps(60) infinite;
}

@keyframes pulse {
    0% {
        width: 250px;
    }
    50% {
        width: 280px;
    }
    100% {
        width: 250px;
    }
}